* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


/*region common*/
body {
  background-color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
}

/*region header*/

.menu_link{
 text-decoration: none;
 color: white;
 transition: 0.3s;
 &:hover{
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 9px #fff, 0 0 11px #fff, 0 0 13px #fff, 0 0 15px #fff;
 }
}

/*region main*/
.my_text{
  position: relative;
  z-index: 3;
}



/*region footer*/