* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{background-color:rgba(7, 7, 17, 0.963) ;}

img{
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1176px;
  margin: auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    .col{
      width: 100%;
      padding: 1rem;

      @media (min-width: 600px) {
        width: 50%;  
      }
      @media (min-width: 992px) {
        width: calc(100% / 12 * 4);  
      }
      @media (min-width: 1200px) {
        width: calc(100% / 12 * 3);  
      }
    }
  }
}

.card{
  background-color: white;
  .card-body{
    padding: 0.5rem;
  }
}